<% include header.ejs %>
<p>Welcome to <%= title %></p>
<% include form.ejs%>
</div>
<div>
    <%= message %>
    <% for(var i=0; i<comments.length; i++) {%>
    <h3 class="mdc-list-group__subheader"><a href="<%= comments[i].html_url %>" target="_blank"><%= comments[i].id %></a></h3>
        <ul class="mdc-list mdc-list--dense">
            <li class="mdc-list-item">URL: <%= comments[i].html_url %></li>
            <li class="mdc-list-item">PATH: <%= comments[i].path %></li>
            <li class="mdc-list-item">Line/Position: <%= comments[i].line %>/<%= comments[i].position %></li>
            <li class="mdc-list-item">Updated: <%= comments[i].updated_at %></li>
            <li class="mdc-list-item">Comment: <%= comments[i].body %></li>
        </ul>
    <hr class="mdc-list-divider">
    <% } %>
</div>
<% include footer.ejs%>
