<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
<p>Welcome to <%= title %></p>
<div><form method="post" action="/comments">
    <input type="text" name="username" id="username" value="<%= username %>">
    <input type="text" name="repoName" id="repoName" value="<%= repoName %>">
    <input type="submit">
</form>
</div>
<div>
    <% for(var i=0; i<commits.length; i++) {%>
        <ul>
            <li><%= commits[i].html_url %></li>
            <li><%= commits[i].path %></li>
            <li><%= commits[i].position %></li>
            <li><%= commits[i].line %></li>
            <li><%= commits[i].updated_at %></li>
            <li><%= commits[i].body %></li>
        </ul>
    <% } %>
</div>
</body>
</html>
