<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div>
    <% for(var i=0; i<commits.length; i++) {%>
        <ul>
            <li><%= commits[i].html_url %></li>
            <li><%= commits[i].path %></li>
            <li><%= commits[i].position %></li>
            <li><%= commits[i].line %></li>
            <li><%= commits[i].updated_at %></li>
            <li><%= commits[i].body %></li>
        </ul>
    <% } %>
</div>
</body>
</html>
